html, 
body {
    height: 100%;
}

body{
    margin              : 0;
    padding             : 0;
    font-family         : Verdana, Geneva, sans-serif;
    /*background-color    : #0E615E;*/
    background-color    : #FDFDFF;
    /*color               : #FDFDFF;*/
    color: rgb(48, 48, 48);
}

main{
    height: 100%;
}

.hide{
    display             : none;
}


.attendance-header{
    text-align          : center;
    padding             : 24px;
    color               : #FDFDFF;
    background-color    : #8CBBF1;
    font-size           : 1.6em;
    font-weight         : 600;
}

.auth-header{
    color               : #FDFDFF;
    padding             : 24px;
    background-color    : #8CBBF1;
    text-align          : center;
    font-size           : 1.6em;
    font-weight         : 600;
}


.exit-from-account{
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FCEECB;
    color: #E1BF5F;
    position: absolute;
    top: 14px;
    left: 14px;
}

.auth-content{
    height: 85%;
    display: flex;
    align-items: center;
}

table{
    margin: 10px;
}

.auth-form{
    font-size: 16px;
    margin-top: auto;
    margin: auto;
    max-width               : 200px;
    text-align              : center;
}

input{
    margin-top: 3%;
}

.auth-input{
    font-size: 16px;
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(168, 168, 168);
}

textarea:focus, input:focus{
    outline: none;
}

#auth-fields-not-filled{
    color: #E287A0;
}

.auth-submit{
    width: 102%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    vertical-align: middle;
    color: #E1BF5F;
    text-align: center;
    border-radius: 4px;
    background-color: #FCEECB;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    /*margin-left: 1%;*/
    transition: background-color 0.2s;
}

.user-greetings{
    padding: 16px;
    color: rgb(48, 48, 48);
}

table{
    border-collapse: collapse;
}

td, tr{
    border: 1px solid ;
}

@media screen and (max-width: 882px) {
    .attendance-header{
        text-align          : start;
        padding             : 12px;
        padding-left        : 35%;
        background-color    : #8CBBF1;
        font-size           : 1.4em;
        font-weight         : 600;
    }

    .auth-header{
        text-align: center;
        padding             : 12px;
        background-color    : #8CBBF1;
        font-size           : 1.4em;
        font-weight         : 600;
    }

    .exit-from-account{
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;
        background-color: #FCEECB;
        color: #E1BF5F;
        position: absolute;
        top: 7px;
        left: 7px;
    }
}
